.header__magnifier{
    display: none;
    background-image: url(../../../image/magnifier.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    background-position: center;
}

@media (max-width: 1024px) {
    .header__magnifier {
        display: block;
    }
}