.basket__container-price{
    min-width: 110px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

@media (max-width: 1024px) {
    .basket__container-price {
      display: none;
    }
}
