.total{
    border-radius: 16px;
    background-color: white;
    padding: 16px 24px 24px;
    max-height: 604px;
    min-width: 303px;
    max-width: 429px;
    box-sizing: border-box;
    margin-top: -5px;
    width: 100%;
}

@media (max-width: 1020px) {
    .total {
      padding: 8px 16px 0 16px;
      background-color: #F6F6FA;
      border-radius: 0;
      max-width: 100%;
    }
}