.total__subtitle{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    letter-spacing: -1px;
}

@media (max-width: 1020px) {
    .total__subtitle {
        font-size: 20px;
        line-height: 28px;
    }
}