.basket__product{
    display: flex;
    margin-bottom: 20px;
    padding: 12px 0 0;
    justify-content: space-between;
}

.basket__product:last-of-type{
  margin: 0;
}

@media (max-width: 1020px) {
    .basket__product {
      flex-direction: column;
      border-top: 1px solid rgba(00, 00, 00, 10%);
    }
}