.basket__input{
    border: none;
    border-bottom: 1px solid rgba(00, 00, 00, 20%);
    outline: none;
    padding: 0 0 4px 0;
    width: 100%;
}

.basket__input:focus + .basket__label-input, .basket__input:not(:placeholder-shown) + .basket__label-input{
    transform: translateY(-1em) scale(0.9);
}