.basket__container-checkbox{
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
    min-width: 600px;
}

@media (max-width: 1020px) {
    .basket__container-checkbox {
      margin-bottom: 17px;
      position: relative;
      min-width: 0;
    }
}