.basket__container-checkbox{
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .basket__container-checkbox {
      margin-bottom: 17px;
      position: relative;
    }
}