.basket__container-img{
    display: flex;
    margin-right: 16px;
    height: 96px;
    position: relative;
}

@media (max-width: 1020px) {
    .basket__container-img {
        width: 100%;
        max-width: 80px;
        height: 106px;
    }
}