.basket__container-img{
    display: flex;
    margin-right: 16px;
    height: 96px;
}

@media (max-width: 1024px) {
    .basket__container-img {
      height: 106px;
      position: relative;
    }
}