.header__input{
    width: 100%;
    background-color: transparent;
    border: none;
    height: 28px;
    outline: none;
    padding: 0;
}

.header__input::-webkit-input-placeholder {
    color: white;
    opacity: 50%;
}
.header__input:-moz-placeholder {
   color: white;
   opacity: 50%;
}
.header__input::-moz-placeholder {
    color: white;
    opacity: 50%;
}
.header__input:-ms-input-placeholder {
    color: white;
    opacity: 50%;
}
.header__input::-ms-input-placeholder {
    color: white;
    opacity: 50%;
}
.header__input::placeholder {
    color: white;
    opacity: 50%;
}