.basket__button_delete{
    background-image: url(../../../../image/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.basket__button_delete:hover{
    background-image: url(../../../../image/delete-red.svg);
}