.basket__container-input_mail{
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
    .basket__container-input_mail {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}