.basket__price{
    color: #9797AF;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-decoration-style: solid;
    text-decoration: line-through;
    cursor: pointer;
}

@media (max-width: 1020px) {
    .basket__price {
        letter-spacing: -1px;
    }
}