.basket__checkbox{
    width: 22px;
    height: 22px;
    accent-color: #CB11AB;
    margin-right: 11px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-self: center;
}

@media (max-width: 1024px) {
    .basket__checkbox {
      position: absolute;
      top: 4px;
      left: 4px;
    }
}