.popup__button-delete{
    background-image: url(../../../../image/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.popup__button-delete:hover{
    background-image: url(../../../../image/delete-red.svg);
}