.popup__container-delivery{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    position: relative;
    padding: 16px 22px 24px;
    box-sizing: border-box;
}