.basket__button_like{
    background-image: url(../../../../image/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 16px;
}

.basket__button_like:hover{
    background-image: url(../../../../image/like-pink.svg);
}