.popup__container-address{
    display: flex;
    justify-content: space-between;
    height: 36px;
    align-items: center;
    margin-bottom: 8px;
}

.popup__container-address:last-of-type{
    margin: 0;
}