.header__container-button{
    max-width: 169px;
    margin-left: 32px;
    display: flex;
    padding: 0 17px 0 0;
}

@media (max-width: 1024px) {
    .header__container-button {
        display: none;
    }
}