.basket{
    margin-right: 32px;
    max-width: 891px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 1020px) {
    .basket {
      margin-bottom: 16px;
      margin-right: 0;
      max-width: 100%;
    }
}