.total__container-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: center;
}

@media (max-width: 1024px) {
    .total__container-title {
        display: none;
    }
}