.popup__button{
    max-width: 164px;
    height: 44px;
    background-color: #CB11AB;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    padding: 0;
}

@media (max-width: 1020px) {
    .popup__button {
      max-width: 288px;
    }
}