.basket__subtitle{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
}
@media (max-width: 1020px) {
    .basket__subtitle {
      font-size: 20px;
      line-height: 28px;
    }
}