.header__burger-menu{
    background: none;
    border: none;
    cursor: pointer;
    background-image: url(../../../image/burger-menu.svg);
    background-repeat: no-repeat;
    min-width: 48px;
    height: 48px;
    background-size: contain;
    padding: 0;
}