.header__burger-menu{
    background: none;
    border: none;
    cursor: pointer;
    background-image: url(../../../image/burger-menu.svg);
    background-repeat: no-repeat;
    max-width: 48px;
    height: 48px;
    width: 100%;
    background-position: center;
    padding: 0;
    background-size: contain;
}

@media (max-width: 1020px) {
    .header__burger-menu {
      background-image: url(../../../image/burger-menu-320.svg);
      max-width: 28px;
      height: 28px;
      background-size: auto;
    }
}