.popup__close-btn{
    width: 24px;
    height: 24px;
    background-image: url(../../../image/close-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 12px;
    right: 13px;
    padding: 0;
    background-size: contain;
}

.popup__close-btn:hover{
    opacity: 0.6;
    cursor: pointer;
}