.basket__container{
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .basket__container{
        padding: 0 16px;
    }

    .basket__container:last-of-type {
        margin-bottom: 32px;
    }
}